# Server configuration
PORT=8001
NODE_ENVIRONMENT=development

# Database configuration
DB_HOST=dbHost
DB_PORT=dbPort
DB_USERNAME=dbUsername
DB_PASSWORD=dbPassword
DB_DATABASE=dbName

# JWT secret key
JWT_SECRET=SOME-RANDOM-SECRET-KEY


#SMTPGO
SMTP2GO_USER=username
SMTP2GO_PASS=passs
SMTP2GP_FROM_EMAIL=email