# -----------------------------
# Server Configuration
# -----------------------------
PORT=8001
NODE_ENVIRONMENT=development

# -----------------------------
# Database Configuration
# -----------------------------
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=express

# -----------------------------
# Redis Configuration
# -----------------------------
REDIS_URL=redis://localhost:6379

# -----------------------------
# JWT Configuration
# -----------------------------
JWT_SECRET_KEY=your_jwt_secret_key
ACCESS_TOKEN_EXPIRES_IN=10m        # Example: 10m, 1h, 7d
REFRESH_TOKEN_EXPIRES_DAYS=30      # Example: 30

# -----------------------------
# Cookie Configuration
# -----------------------------
COOKIE_DOMAIN=localhost

# -----------------------------
# SMTP2GO Configuration
# -----------------------------
SMTP2GO_USER=your_smtp_username
SMTP2GO_PASS=your_smtp_password
SMTP2GO_FROM_EMAIL=your-email@example.com
